body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.thermometer {
    position: fixed;
    top: 50%;
    right: -150px; /* Pradinė padėtis už ekrano */
    transform: translateY(-50%);
    width: 150px;
    height: 200px; /* Padidintas aukštis, kad tilptų papildomi duomenys */
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease; /* Sklandus iššokimas */
    pointer-events: all;
}

.thermometer.show {
    right: 0; /* Termometras iššoka */
}

.thermometer .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.temperature, .pressure, .humidity {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}


.text-box {
    width: 80%;
    max-width: 700px;
    color: black;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 95%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    resize: none;
    font-family: Arial, sans-serif;
}